Options -Indexes
DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

<IfModule mod_headers.c>
    Header always set X-Content-Type-Options nosniff
</IfModule>
